* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(64, 57, 54);
}

#logotype-container {
  margin : 50px auto 10px auto;
  text-align: center;
}

#logotype {
  left: auto;
  right: auto;
  text-align: center;
  max-width: 100%;
  height: auto;
}

#social {
  text-align: center;
  margin-top: 30px;
}

h1 {
  margin-bottom: 20px;
}
#social-icons {
  text-align: center;
}

.social-icon {
  width : 50px;
  height : 50px;
  margin-right: 20px;
}

#poster-container {
  width = 100%;
  margin-top: 30px;
  padding: 0px;
  text-align: center;
}

#poster {
  max-width = 100%;
  padding: 0px;
  text-align: center;
}