* {
  margin: 0;
  padding: 0;
}

body {
  /*background-color: rgb(64, 57, 54);*/
  background-color: rgb(255, 255, 255);
  font-family: 'Roboto Slab', serif;
}

#header {
  margin : 50px auto 10px auto;
  text-align: center;
}

#menu {
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  font-size: 1em;
}


a {
  color: grey;
  text-decoration: none;
  text-transform: uppercase;
}

ul {
  width: 100%;
  display: table;
  table-layout: fixed;
}

ul li {
  display: table-cell;
  width: auto;
  text-align: center;
}

#buy-tickets {
  font-weight: 800;
  color: #111;
}

#logotype-container {
  margin : 50px auto 10px auto;
  text-align: center;
}

#logotype {
  left: auto;
  right: auto;
  text-align: center;
  max-width: 100%;
  height: auto;
}

#social {
  text-align: center;
  margin-top: 50px;
}

h1 {
  margin-top: 50px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 3em;
}

h2 {
  font-size: 1.4em;
}

#faq-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
}

#question {
  margin-top: 50px;
}

#question h2{
  font-size: 1.4em;
  font-weight: 900;
  margin-bottom: 10px;
}

#question p{
  font-size: 1em;
}


#social-icons {
  text-align: center;
}

.social-icon {
  width : 50px;
  height : 50px;
  margin-right: 20px;
}

#poster-container {
  width : 100%;
  margin-top: 30px;
  padding: 0px;
  text-align: center;
}

#poster {
  max-width : 100%;
  padding: 0px;
  text-align: center;
}

#agenda-container {
  font-size: 0.75em;
  display: flex;
}

#venue {
  width : 250px;
  margin : 20px auto 50px auto;
}

#venue table {
  width: 100%;
}

#venue table, th, td{
  border : 1px solid black;
  border-collapse: collapse;
  padding: 5px 5px 5px 10px;
}

#venue th{
  text-align: left;
  background-color: black;
  color : white;
}

#venue td:nth-child(1) {
  text-align: right;
  width : 60px;
}

.date {
  width : 90%;
  margin: 75px auto 10px auto;
}

.date h2 {
  text-align: center;
}

#bio_container {
  display: table;
  max-width : 75%;
  margin : 30px auto 30px auto;
  text-align: center;
}

.bio {
  margin: 50px 20px 50px 20px;
  width: 350px;
  display: inline-table;
}

.bio p {
  text-align: left;
  max-width: 250px;
  padding: 10px 10px 10px 10px;
  margin: 0 auto 0 auto;
}

.bio a {
  text-transform: lowercase;
}

.bio img {
  width: 300px;
  margin-bottom: 20px;
}

/* artist page */
#artists {
  margin : 50px auto 50px auto;
  width: 75%;
  text-align : center;
}

#artists p{
  margin: 10px auto 30px auto;
  padding: 10px;
  max-width: 500px;
  text-align: left;
  font-size: 1.3em;
  border-style: solid;
  border-right: 0px;
  border-left: 0px;
}

.artist {
  display: inline-block;
  padding : 30px;
  text-align: center;
}

.artist img{
  max-width: 250px;
  border-radius: 100%;
}

.artist a img {
  margin-top: 5px;
  width : 27px;
}




@media (max-width: 925px) {
  #menu {
    font-size: 1em;
  }

  ul li {
    display: grid;
    padding-top: 10px;
  }

  #agenda-container {
    font-size: 0.75em;
    display: block;
  }

}