* {
  margin: 0;
  padding: 0;
}

#logotype-container {
  text-align: center;
}

#logotype {
  left: auto;
  right: auto;
  text-align: center;
  max-width: 100%;
  height: auto;
}

#social {
  padding: 20px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}
#social-icons {
  text-align: center;
}

.social-icon {
  width : 50px;
  height : 50px;
  margin-right: 20px;
}