* {
  margin: 0;
  padding: 0;
}

body {
  /*background-color: rgb(64, 57, 54);*/
  background-color: rgb(255, 255, 255);
  font-family: 'Roboto Slab', serif;
}

#header {
  margin : 50px auto 10px auto;
  text-align: center;
}

#menu {
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  font-size: 1.5em;
}


#menu a {
  color: grey;
  text-decoration: none;
  text-transform: uppercase;
}

ul {
  width: 100%;
  display: table;
  table-layout: fixed;
}

ul li {
  display: table-cell;
  width: auto;
  text-align: center;
}

#logotype-container {
  margin : 50px auto 10px auto;
  text-align: center;
}

#logotype {
  left: auto;
  right: auto;
  text-align: center;
  max-width: 100%;
  height: auto;
}

#social {
  text-align: center;
  margin-top: 50px;
}

h1 {
  margin-bottom: 20px;
}

h2 {
  font-size: 1.4em;
}

#faq-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
}

#question {
  margin-top: 50px;
}

#question h2{
  font-size: 1.4em;
  font-weight: 900;
  margin-bottom: 10px;
}

#question p{
  font-size: 1em;
}


#social-icons {
  text-align: center;
}

.social-icon {
  width : 50px;
  height : 50px;
  margin-right: 20px;
}

#poster-container {
  width : 100%;
  margin-top: 30px;
  padding: 0px;
  text-align: center;
}

#poster {
  max-width : 100%;
  padding: 0px;
  text-align: center;
}

#agenda-container {
  font-size: 0.98em;
  display: flex;
}

#venue {
  width : 250px;
  margin : 20px auto 50px auto;
}

#venue table {
  width: 100%;
}

#venue table, th, td{
  border : 1px solid black;
  border-collapse: collapse;
  padding: 5px 5px 5px 15px;
}

#venue th{
  text-align: left;
  background-color: black;
  color : white;
}

#venue td:nth-child(1) {
  width : 70px;
}

.date {
  width : 90%;
  margin: 75px auto 10px auto;
}

.date h2 {
  text-align: center;
}

@media (max-width: 775px) {
  #menu {
    font-size: 1em;
  }

  ul li {
    display: grid;
    padding-top: 10px;
  }

  #agenda-container {
    font-size: 0.96em;
    display: block;
  }

}