* {
  margin: 0;
  padding: 0;
}

body {
  /*background-color: rgb(64, 57, 54);*/
  background-color: rgb(255, 255, 255);
  font-family: 'Roboto Slab', serif;
}

#header {
  margin : 50px auto 10px auto;
  text-align: center;
}

#menu {
  margin-left: auto;
  margin-right: auto;
  max-width: 75%;
  font-size: 1em;
}


a {
  color: grey;
  text-decoration: none;
  text-transform: uppercase;
}

ul {
  width: 100%;
  display: table;
  table-layout: fixed;
  margin-top: -40px;
}

ul li {
  display: table-cell;
  width: auto;
  margin: auto 10px auto 10px;
  text-align: center;
  padding-right: 10px;
  vertical-align: middle;
}

hr {
  width : 50%;
  margin : 40px auto 40px auto;
}

#buy-tickets {
  font-weight: 800;
  color: #111;
}

#logotype-container {
  margin : 50px auto 10px auto;
  text-align: center;
}

#logotype {
  left: auto;
  right: auto;
  text-align: center;
  max-width: 100%;
  height: auto;
}

#social {
  text-align: center;
  margin-top: 50px;
}

h1 {
  margin-top: 50px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 3em;
}

h2 {
  font-family: shlop, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
}

#faq-container {
  margin : 0px auto 50px auto;
  max-width: 50%;
}

#question {
  margin-top: 50px;
}

#question h2{
  margin-bottom: 10px;
}

#question p{
  font-size: 1em;
}


#social {
  /*position: absolute;*/
  /*right: 40px;*/
  /*top: 40px;*/
  padding-bottom: 50px;
}

#social-icons {
  text-align: center;
}


.social-icon {
  width : 30px;
  height : 30px;
  margin-right: 10px;
}

#sponsor-container {
  text-align: center;
  width: 75%;
  margin: 10px auto 10px auto;
}

.sponsor {
  display: inline-table;
  margin : 10px 15px 10px 15px;
  vertical-align: middle;
}

.sponsor img{
  width : 100px;
}

#poster-container {
  width : 100%;
  margin-top: 30px;
  padding: 0px;
  text-align: center;
}

#poster {
  max-width : 100%;
  padding: 0px;
  text-align: center;
}

#agenda-container {
  font-size: 0.75em;
  display: flex;
}

#venue {
  width : 250px;
  margin : 20px auto 50px auto;
}

#venue table {
  width: 100%;
}

#venue table, th, td{
  border : 1px solid black;
  border-collapse: collapse;
  padding: 5px 5px 5px 10px;
}

#venue th{
  text-align: left;
  background-color: black;
  color : white;
}

#venue td:nth-child(1) {
  text-align: right;
  width : 60px;
}

.date {
  width : 90%;
  margin: 75px auto 10px auto;
}

.date h2 {
  text-align: center;
}

#bio_container {
  display: table;
  max-width : 75%;
  margin : 30px auto 30px auto;
  text-align: center;
}

#bio_container h1 {
  font-family: shlop, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4em;

}

.bio {
  margin: 50px 20px 50px 20px;
  width: 350px;
  display: inline-table;
}

.bio p {
  text-align: left;
  max-width: 250px;
  padding: 10px 10px 10px 10px;
  margin: 0 auto 0 auto;
}

.bio a {
  text-transform: lowercase;
}

.bio img {
  width: 300px;
  margin-bottom: 20px;
}

.bio h2{
  font-family: shlop, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
}

/* artist page */
#artists {
  margin : 50px auto 50px auto;
  width: 90%;
  text-align : center;
}

#artists p{
  margin: 10px auto 30px auto;
  max-width: 50%;
  text-align: left;
  font-size: 1.3em;
}

.artist {
  display: inline-block;
  padding : 30px;
  text-align: center;
  vertical-align: middle;

  font-family: shlop, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.artist img{
  max-width: 200px;
  border-radius: 100%;
}

.artist h2 {
  font-size: 3em;
}

.artist a img {
  margin-top: 5px;
  width : 27px;
}

#get-involved-container {
  width: 90%;
  max-width: 600px;
  margin: 50px auto 20px auto;
  line-height: 1.4;
}

.involved {
  margin-bottom: 50px;
}

#get-involved-container h2{
  margin-bottom: 10px;
}

#map {
  width : 100%;
  text-align: center;
}

#map img{
  width : 70%;
}


@media (max-width: 925px) {
  #menu {
    margin-top: 40px;
    font-size: 1em;
  }

  ul li {
    display: grid;
    padding-top: 10px;
  }

  #social {
    position: inherit;
  }

  #agenda-container {
    font-size: 0.75em;
    display: block;
  }

}